*{
	padding:0px;
	margin:0px;	
	
}


body{
	background: #A62447;
}

#container {
	position: relative;
	top: 50%;    
    margin: 0 auto;
    z-index: 10;    
    width: 600px;
    height: 400px;
    background: #FFBF59;
    padding: 40px;
}

#btn{
	position:absolute;
	width:120px;
	height:35px;
	background:#000;
	cursor:pointer;
	display:none;
	opacity:0;
		
}

#btn h1 {
    text-align: center;
    font-size: 14px;
    color: #FFF;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


#q1, #q2, #q3 {
    width: 90px;
    height: 40px;
    min-width: 90px;
    max-width: 300px;
    transition: width 0.25s;
    text-align: center;
}

#titleQuestion{
	position: relative;
	top: 50px;
	font-size:16px;
	color: darkslateblue;
}


#q1{
    color: Grey;
    border: thin solid #CACACA;
    //margin-top: 60px;
    /* [disabled]border-radius: 10px 10px 10px 10px; */

    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.focusing {
    box-shadow: 0 0 5px rgba(209, 27, 28, 1);
    -webkit-box-shadow: 0 0 5px rgba(209, 27, 28, 1); 
    -moz-box-shadow: 0 0 5px rgba(209, 27, 28, 1); 
}